@font-face {
    font-family : '';
    src : url();
}
div, input, textarea {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'gulim'
}
.profile {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name {
    text-align: center;
    font-size: 16px;
}

.box {
    width: 200px;
    background: yellow;
    margin: 10px;
    padding: 10px; 
    border: 4px dotted black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    color: black;
    box-shadow: 10px 10px black;
}

.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 100%;
    height: 50px;
    background: aquamarine;
}

.left-menu {
    width: 20%;
    height: 400px;
    background: blue;
    display: inline-block;
    vertical-align: top;
/*    float: left;*/
}

.right {
    width: 80%;
    height: 400px;
    display: inline-block;
    background: coral;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
/*    float: left;*/
}

.footer {
    width: 100%;
    height: 100px;
    background-color: gray;
/*    clear: both;*/
}

.left-content {
    width: 70%;
    background-color: white;
    float: left;
}

.photo {
    width: 30%;
    height: 50%;
    background-color: white;
    float: left;
}

.user {
    width: 35%;
    height: 30%;
    display: inline-block;
}

.comment {
    width: 100%;
    height: 70%;
    background-color: white;
    display: inline-block;
}

.navbar li{
    display: inline-block;
    width: 60px;
    text-align: center;
    background: #eee;
    padding: 10px;
}

.navbar>li>a {
    font-size: 16px;
    text-decoration: none;
}

.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-title {
    color: white;
    font-size: 40px;
    margin-top: 200px;
    text-align: center;
}

.main-content {
    color: white;
    font-size: 20px;
}

.button {
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: white;
    position: relative;
}

.card {
    width: 800px;
    max-width: 800px;
    height: 300px;
    text-align: center;
    padding: 10px;
    background: #eee;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -50px;
}

.form-backgroudn {
    background-color: black;
    padding: 30px;
}

.form-white {
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
}

.w-100 {
    padding: 10px;
}



.yellow-button {
    padding: 10px;
    display: block;
    margin-left: auto;
}

td, th {
/*    border: 1px solid black;*/
}
.cart-table td, th {
    padding: 15px;
    border-bottom: 1px solid #c2d3de;
}

table {
    border-collapse: collapse;
}

.cart-backtround {
    width: 100%;
    background-color: antiquewhite;
    padding: 30px;
}

.cart-table {
    width: 100%;
    max-width: 700px;
    margin: auto;
    background-color: white;
    background-color: white;
    border-radius: 10px;
}

.cart-table th:nth-child(3) {
    width: 400px;
}

.cell-long {
    width: 100px;
}

.btn {
    padding: 15ps;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: coral;
    color: white;
    cursor: pointer
}
.btn:hover {
    background-color: chocolate;
}
.btn:focus {
    background-color: gray;
}
.btn:active{
    background-color: brown;
}

.input-test {
    font-size: 20px;
}
.input-test:focus {
    border-bottom: 2px solid red;
}

.custom-link {
    text-decoration: none;
}
.custom-link:link {
    color: skyblue;
}
.custom-link:visited {
    color: black;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-item {
    width: 100px;
    height: 100px;
    background-color: grey;
    margin: 5px;
}
